.Bar--start {
    width: 100px;
    height: 100%;
    background-color: rgb(160, 200, 255);
    rotate: -45deg;
    scale: 1 1.5;
    transition-duration: 1s;
    transition-timing-function: linear;
    translate: 1600% 0;
    position: absolute;
}

.Bar--end {
    translate: -1600% 0;
}
